/*============-============-============-============
                         VARIABLES
==============-============-============-==========*/

:root {
  --color-primary: #e74c3c;
  --color-primary-darker: #a31e0f;
  --color-bg: #2c2c2c;
  --color-white: #edeff0;
  --color-white-lighter: #fdfdfd;
  --color-white-darker: #d7dbdf;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-white);
  background-color: var(--color-bg);
}

h2 {
  font-size: 2em;
  margin: 30px 0;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

hr {
  padding: 2px 0;
  background-color: var(--color-white-darker);
  border-radius: 4px;
}

.title {
  font-size: 2.8rem;
  color: var(--color-white);
}

.tag {
  text-transform: capitalize; 
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 12px;
}

.search-form button {
  outline: none;
  background-color: var(--color-primary);
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
  transition: all .3s ease-out;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: var(--color-white);
  padding: 10px 15px;
  border: 3px solid var(--color-white-darker);
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.main-nav ul {
  display: flex;
  justify-content: center;
}

.main-nav a {
  display: block;
  background-color: var(--color-primary);
  border-radius: 3px;
  padding: 12px 0;
  color: var(--color-white);
  transition: all .3s ease-out;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: var(--color-primary-darker);
  color: var(--color-white-lighter);
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
  border: 4px solid var(--color-white-darker);
  border-radius: 4px;
  box-shadow: 0 1px 14px rgba(0,0,0, .12);
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

.not-found {
  margin-top: 6rem;
  color: #dadada;
}

/* ===================================== 
   MATERIAL ICONS
======================================== */

.icon-gif {
  font-size: 6em;
  margin-bottom: 0;
  color: #dadada;
  display: block;
}

.no-gifs  {
  color: #dadada;
  height: 140px;
  padding-top: 62px;
  text-align: center;
  font-size: 1.25em;
}

.icn-error {
  font-size: 3.2em;
  margin-bottom: .25em;
}

/* ===================================== 
   PAGE LOADER
======================================== */

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }

  .main-nav ul {
    flex-wrap: wrap;
  }
  
  .main-nav li {
    width: 35%;
    margin-bottom:1em;
    font-size: 1.2rem;
  }
  
  .main-nav li:nth-of-type(even) {
    margin-left: .5rem;
  }
}

@media only screen and (min-width: 768px)  {
  body {
    padding-top: 3em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }
  
  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
  body {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

@media only screen and (min-width: 820px) and (max-width: 927px) {
  body {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
